@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');



body{
    text-align: center;
    padding: 5%;
    margin: 3%;
}
#bno{
    background-color: transparent;
}
#title{
    background-color: transparent;
}
#contents{
    background-color: transparent;
}

.update_list 
{
    border: 2px solid rgb(12, 49, 2);
    border-left: 7px solid rgb(12, 49, 2);
    border-bottom: 8px solid rgb(12, 49, 2);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 10px;
    padding: 30px;
    width: 80%;
    height: 800px;
    /* width: 800px;
    height: 900px; */
    position: relative;
    top :20px;
    left : 100px;
    font-family: 'Cute Font', cursive;
    font-size: 25px;
}
input[type="text"]
{
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    border: none;
    outline: none;
    text-align: center;
}
.update_list .bno_style 
{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(9, 56, 7);
    border-top: 9px solid rgb(9,56,7);
    border-left: 5px solid rgb(9, 56, 7);
    border-radius: 10px;
    /* width: 300px; */
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;   
    font-size: 30px;
    
}
.update_list .bno_style .no
{
    position: absolute;
    top :5%;
    left : 5%;
    background-color: rgb(9, 56, 7);
    color: rgb(243, 239, 239);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 150px;
    
}

.update_list .title_style 
{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(9, 56, 7);
    border-top: 9px solid rgb(9,56,7);
    border-left: 5px solid rgb(9, 56, 7);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    
}
.update_list .title_style .ti
{
    position: absolute;
    top : 47px;
    left : 40px;
    background-color: rgb(9, 56, 7);
    color: rgb(243, 239, 239);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 150px;
}

.update_list .contents_style 
{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(9, 56, 7);
    border-top: 9px solid rgb(9,56,7);
    border-left: 5px solid rgb(9, 56, 7);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    height: 50%;
    
}
.update_list .contents_style .tx
{
    position: absolute;
    top :180px;
    left : 40px;
    background-color: rgb(9, 56, 7);
    color: rgb(243, 239, 239);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 150px;
}



.update_list .bno_style:hover
{
    background-color: #EEF2E6;
}
.update_list .title_style:hover
{
    background-color: #EEF2E6;
}
.update_list .contents_style:hover
{
    background-color: #EEF2E6;
}

#write_a
{
    color: aliceblue;
    text-decoration: none;
}



button
{
    background-color: rgb(9, 56, 7);
    height: 40px;
    padding: 10px;
    margin: 20px;
    
}


button:hover
{
    transform: rotateY( 360deg );
    transition: all 0.5s linear;
}
